body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 595px;
	min-height: 474px;
	background-color: white;
	font-family: 'Cabin', sans-serif;
}

#foodpage {
	padding-bottom: 35%;
}

.travelpage {
	padding-bottom: 35%;
}

#image-caption1, #image-caption2, #image-caption3, #image-caption4, #image-caption5, #image-caption6, #image-caption7, #image-caption8, #image-caption9, #image-caption10, #image-caption11, #image-caption12, #image-caption101, #image-caption102, #image-caption103, #image-caption104, #image-caption105, #image-caption106, #image-caption107, #image-caption108, #image-caption109, #image-caption110, #image-caption111, #image-caption112 {
	position: absolute;
	top: 270px;
	left: 20px;
	right: 20px;
	color: black;
	font-weight: lighter;
	font-size: 11px;
	opacity: 0;
	cursor: default;
}

#aboutme1{
	font-size: 36px;
}

#aboutme2{
	font-size: 18px;
}

#aboutpara{
	display: inline;
	position: absolute;
	text-align: left;
	width: 300px;
	top: 40%;
}

#mepic {
	opacity: 1.0;
	display: inline;
	position: absolute;
	left: 10%;
	top: 30%;
}

#icon1 {
	display: inline;
	position: absolute;
	top: 43%;
	left: 41vw;
}

#icon2 {
	display: inline;
	position: absolute;
	top: 43%;
	left: 50vw;
}

#icon3 {
	display: inline;
	position: absolute;
	top: 43%;
	left: 59vw;
}

#background {
	z-index: -10;
}

#title {
	/* justify-content: center;
	position: absolute;
	top: 27%; */
	position: fixed;
	top: 27%;
	left: 10;
	transform: translateY(-50%);
	color: white;
	font-size: 64px;
	font-family: 'Lobster', cursive;
	cursor: default
	white-space:nowrap;
	width: 102%;
}

.section {
	width: 100%;
	height: 100%;
	/* min-width: 1200px; */
	position: relative;
	text-align: center;
}

#home {
	width: 100%;
}

#food {
	background-color:white;
	padding-right: 15px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

#food-text{
	font-family: 'Lobster', cursive;
	font-size: 72px;
	margin-top: 30px;
	cursor: default;
	color: black;
}

#travel{
	background color: #fff;
	padding-right: 15px;
	color: black;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

#travel-text{
	font-family: 'Lobster', cursive;
	font-size: 72px;
	margin-top: 30px;
	cursor: default;
	color: black;
}

#album {
	position: absolute;
}

.photo {
	position: relative;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	transition: 0.3s;
	opacity: 0.8;
}

.photo:hover {
	opacity: 1.0;
}

#food-text{
	padding-top: 20px;
	padding-bottom: 20px;
}

#about {
	background-color: #fff;
}

#about-text {
	font-family: 'Lobster', cursive;
	font-size: 72px;
	padding-top: 40px;
	padding-bottom: 20px;
	cursor: default;
}

#travel-text {
	padding-top: 20px;
	padding-bottom: 20px;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.sidebar-container {
	position: fixed;
	width: 280px;
	height: 100%;
	top: 0;
	background-color: black;
	-webkit-transform: translateX(-280px);
	-webkit-transition: 0.3s;
}

.sidebar-item {
	font-weight: 700;
	font-size: 20px;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Cabin', sans-serif;
}

.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	/* margin-top: 10px; */
}

.sidebar-item li {
	cursor: pointer;
	color: white;
	font-family: 'Cabin', sans-serif;
}

.sidebar-item a:link {
	color: white;
	text-decoration: none;
}

.sidebar-item a:visited {
	color: white;
	text-decoration: none;
}

.sidebar-item a:hover {
	color: white;
	text-decoration: none;
}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 12px;
	top: 12px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#nav-toggle {
	position: absolute;
	left: 50%; top: 50%;
}

#nav-toggle {
	padding: 10px 30px 15px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: black;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}
